.nav .dropdown a.user-info {
  padding: 10px 15px;
}
@media (max-width: 768px) {
  .nav .dropdown a.user-info {
    padding: 10px 0 10px 15px;
  }
}
.nav .dropdown .dropdown-menu {
  min-width: 120px;
}
